<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="fractal.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/output.css" />
        <script type="module" src="/bundles/common.js"></script>
        <script type="module" src="/bundles/index.js"></script>
        <title>George | Home</title>
    </head>
    <body style="background-color: black">
        <canvas id="bg" style="position: fixed; top: 0; left: 0"></canvas>
        <main class="relative w-2/3">
            <div class="absolute left-0 top-20 p-6">
                <div class="py-4">
                    <button
                        class="text-orange-400 bg-black font-bold font-mono py-2 px-4 mb-1 border rounded border-b-4 border-orange-400 hover:bg-[#360202]"
                        id="home-btn"
                    >
                        Home
                    </button>
                    <button
                        class="text-yellow-500 bg-black font-bold font-mono py-2 px-4 mb-1 border rounded border-b-4 border-yellow-500 hover:bg-[#360202]"
                        id="projects-btn"
                    >
                        Projects
                    </button>
                    <button
                        class="text-orange-600 bg-black font-bold font-mono py-2 px-4 mb-1 border rounded border-b-4 border-orange-600 hover:bg-[#360202]"
                        id="story-btn"
                    >
                        Stories
                    </button>
                </div>
                <!-- Home Box -->
                <div id="home-box" style="display: initial">
                    <div>
                        <p class="text-slate-300 font-mono bg-black md:text-sm">
                            DIY developer with a passion for technology and creativity.
                            Maths graduate currently pursuing my career in full-stack
                            software development. Motivated by the potential of technology
                            to drive positive change, and also the opportunity to be
                            creative in and out of work
                        </p>
                    </div>
                    <div
                        class="py-2 max-w-sm w-full border-orange-400 text-orange-400 text-sm bg-black font-mono font-bold mt-4"
                    >
                        <img class="inline" src="images/logos/spotify-16.png" />
                        <p
                            id="artists-text"
                            class="inline text-orange-400 text-sm font-mono font-bold"
                        >
                            {{artistsText}}
                        </p>
                    </div>
                    <div
                        class="py-2 max-w-sm w-full border-yellow-500 text-yellow-500 text-sm bg-black font-mono font-bold mt-4"
                    >
                        <img class="inline" src="images/logos/book-stack-16.png" />
                        <p
                            id="top-stories-text"
                            class="inline text-yellow-500 text-sm font-mono font-bold"
                        >
                            {{storiesText}}
                        </p>
                    </div>
                    <div>
                        <h2 class="text-lg text-white font-mono py-2 font-bold">Find Me</h2>
                        <table class="table-auto">
                            <tbody>
                                <tr>
                                    <td><img
                                            src="images/logos/linkedin.jpg"
                                            class="w-4"
                                        /></td>
                                    <td>
                                        <a
                                            href="https://linkedin.com/in/georgejmx/"
                                            class="font-mono text-yellow-200 hover:text-yellow-500"
                                        >LinkedIn</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img
                                            src="images/logos/github.png"
                                            class="w-4 invert"
                                        />
                                    </td>
                                    <td>
                                        <a
                                            href="https://github.com/georgejmx/"
                                            class="font-mono text-yellow-200 hover:text-yellow-500"
                                        >GitHub</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img
                                            src="images/logos/twitter.jpg"
                                            class="w-4"
                                        /></td>
                                    <td>
                                        <a
                                            href="https://twitter.com/hologjm/"
                                            class="font-mono text-yellow-200 hover:text-yellow-500"
                                        >Twitter</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img
                                            src="images/logos/opensea.jpg"
                                            class="w-4"
                                        /></td>
                                    <td>
                                        <a
                                            href="https://opensea.io/hologjm"
                                            class="font-mono text-yellow-200 hover:text-yellow-500"
                                        >OpenSea</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img
                                            src="images/logos/instagram.jpg"
                                            class="w-4"
                                        /></td>
                                    <td>
                                        <a
                                            href="https://instagram.com/georgeunlocked/"
                                            class="font-mono text-yellow-200 hover:text-yellow-500"
                                        >Instagram</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h2 class="text-lg text-white font-mono py-2 mt-4 font-bold">
                            Hit Me Up about..
                        </h2>
                        <div id="fascination-box">
                            {{#each fascinations}}
                                <div class="flex">
                                    <svg class="w-{{this.intensity}} h-4">
                                        <rect
                                            width="150"
                                            height="60"
                                            class="fill-{{this.color}}"
                                        />
                                    </svg>
                                    <p
                                        class="ml-2 text-{{this.color}} font-mono bg-black"
                                    >{{this.name}}</p>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                    <p class="mt-8 text-slate-400 font-mono italic bg-black">
                        “If you do not tell the truth about yourself you cannot tell it
                        about other people.”
                    </p>
                    <div class="flex mt-4 px-1 mb-10">
                        <p class="text-orange-600 font-mono bg-black md:text-sm">
                            Living a life of changing perspectives and continual discovery
                        </p>
                        <a
                            class="ml-6 text-orange-600 bg-black font-bold font-mono px-4 mb-1 border rounded border-orange-600"
                            href="/admin"
                        >
                            Upend
                        </a>
                    </div>
                </div>
                <!-- Projects Box -->
                <div id="projects-box" style="display: none">
                    {{#each projects}}
                        <div
                            class="flex flex-col max-w-sm border-2 overflow-hidden border-yellow-500 bg-black p-2 mb-6"
                        >
                            <img
                                src="images/projects/{{this.imagename}}"
                                class="max-h-70 p-2"
                            />
                            <div class="font-bold text-xl mb-2 font-mono text-yellow-500">
                                {{this.name}}
                            </div>
                            <a
                                class="font-mono text-cyan-200 hover:text-cyan-300 mb-2 italic"
                                href="{{this.url}}"
                            >{{this.urlname}}</a>
                            <p class="font-mono text-white text-sm py-2">
                                {{this.description}}
                            </p>
                        </div>
                    {{/each}}
                    <p class="text-white font-mono mb-6">
                        Many more projects can be found on my
                        <a
                            href="https://github.com/georgejmx/"
                            class="font-mono text-yellow-200 hover:text-yellow-500"
                        >GitHub</a>
                    </p>
                </div>
                <!-- Blog Box -->
                <div id="story-box" style="display: none">
                    {{#each stories}}
                        <div
                            class="font-mono flex flex-col max-w-sm border-2 overflow-hidden border-orange-600 bg-black p-2 mx-4 mb-6"
                        >
                            <div class="flex border-1 justify-around">
                                <div
                                    class="font-bold text-l mb-2 font-mono text-orange-600"
                                >
                                    {{this.name}}
                                </div>
                                <p class="font-bold text-l mb-2 text-yellow-500">
                                    {{this.datestring}}
                                </p>
                            </div>
                            <p class="text-white text-xs py-2">
                                {{this.headline}}
                            </p>
                            <a
                                class="text-green-500 bg-black font-bold py-2 px-4 mb-1 border rounded border-b-4 border-green-500 hover:bg-[#360202]"
                                href="/story/{{this.keyword}}"
                            >
                                Read more
                            </a>
                            {{#each this.reactions}}
                                <div class="relative grid grid-cols-1 gap-4 px-4 my-2">
                                    <div class="relative flex gap-4">
                                        <img
                                            src="images/comment-icon.png"
                                            class="relative h-10 w-10"
                                        />
                                        <div class="flex flex-col">
                                            <p
                                                class="text-orange-400 relative whitespace-nowrap overflow-hidden"
                                            >{{this.word}}</p>
                                            <p
                                                class="text-yellow-500 text-sm"
                                            >{{this.datestring}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </main>
        <br />
    </body>
    <footer>
        <div
            style="position: fixed; bottom: 0; left: 0; height: 30px; z-index: 10; width: 100%"
            class="bg-orange-600 w-full text-center"
        >
            <p class="my-1 font-mono text-xs">Solidarity with
                <strong>Trans Youth</strong>,
                <a
                    href="https://genderedintelligence.co.uk/services/publicengagement/our-campaigns.html"
                    class="underline"
                >find out more</a></p>
        </div>
    </footer>
</html>