<html lang="en">
    <head>
        <meta name="id" content={{story.id}} />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="fractal.ico" />
        <link rel="stylesheet" href="/index.ashes.css" />
        <script type="module" src="/index.ashes.js" defer></script>
        <title>George - Story</title>
    </head>
    <body style="background-color: black">
        <canvas id="bg" style="position: fixed; top: 0; left: 0"></canvas>
        <main class="relative w-3/4">
            <div class="absolute left-0 top-20 p-6 mx-4">
                <h1 class="mb-6 text-yellow-200 hover:text-yellow-500 font-mono text-2xl">A
                    story about
                    <strong id="keyword">{{story.keyword}}</strong></h1>
                <div
                    class="flex flex-col max-w-sm border-1 overflow-hidden border-orange-600 bg-black p-2 mb-6"
                >
                    <div
                        class="flex border-1 border-black border-b-orange-600 justify-around"
                    >
                        <div class="font-bold text-l mb-2 font-mono text-orange-600">
                            {{story.name}}
                        </div>
                        <p class="font-bold text-l mb-2 font-mono text-yellow-500">
                            {{story.datestring}}
                        </p>
                    </div>
                    {{#each story.paragraphs}}
                        <p class="font-mono text-white text-xs py-2">
                            {{this}}
                        </p>
                    {{/each}}
                </div>
                <button
                    id="show-modal"
                    class="text-yellow-500 bg-black text-xs font-bold font-mono py-2 px-4 mb-1 mr-2 border rounded border-b-4 border-yellow-500 hover:bg-[#360202]"
                >
                    <div class="flex">
                        <img class="mr-2" src="/images/logos/notepad.png" />
                        <p class="text-yellow-500 font-mono font-light text-xs">Leave a
                            comment</p>
                    </div>
                </button>
                <button
                    id="story-back"
                    onclick="window.location.href = '/?stories=true'"
                    class="text-green-500 bg-black text-xs font-bold font-mono py-2 px-4 mb-1 border rounded border-b-4 border-green-500 hover:bg-[#360202]"
                >
                    <div class="flex">
                        <img class="mr-2" src="/images/logos/right-arrow.png" />
                        <p class="text-green-500 font-mono font-light text-xs">Go back</p>
                    </div>
                </button>
                <br />
                <p class="mt-4 text-green-500 font-mono italic text-xs">Ground control to
                    major Tom..</p>
            </div>
        </main>

        <!-- describe modal -->
        <div
            class="z-50 fixed inset-2 top-12 overflow-y-auto"
            role="dialog"
            style="display:none;"
            aria-modal="true"
            id="describe-modal"
        >
            <div class="flex items-end justify-center text-center md:items-center sm:block">
                <div
                    class="inline-block max-w-prose overflow-hidden text-left transition-all transform bg-black font-mono 2xl:max-w-2xl xl:w-3/5"
                >
                    <div
                        class="relative py-3 md:px-10 border border-b-4 border-yellow-500 px-2"
                    >
                        <h1
                            class="text-yellow-500 font-xl font-bold mb-1 underline-offset-1"
                        >Post Comment</h1>
                        <br />

                        <p class="text-white text-sm">Select a word to submit it as an
                            ephemeral comment for others to see</p>

                        <p
                            class="text-white text-xs mb-2 leading-tight pt-3 tracking-normal underline font-bold"
                        >
                            Options</p>
                        <div class="pb-5" id="react-deck">
                            {{#each descriptors}}
                                <button
                                    class="select-modal text-xs bg-black hover:bg-[#360202] p-1 mr-2 mb-2 text-orange-400 focus:outline focus:bg-[#360202] border rounded border-orange-400"
                                >{{this}}</button>
                            {{/each}}
                        </div>

                        <p class="text-yellow-500 text-sm pt-3" id="modal-response"></p>

                        <div class="flex items-center justify-evenly w-full p-2">
                            <button
                                class="text-yellow-500 bg-black text-sm font-bold py-2 px-4 mb-1 border rounded border-b-4 border-yellow-500 hover:bg-[#360202]"
                                id="fire-modal"
                            >Submit</button>
                            <button
                                class="text-green-500 bg-black text-sm font-bold py-2 px-4 mb-1 border rounded border-b-4 border-green-500 hover:bg-[#360202]"
                                id="hide-modal"
                            >Go back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- server rendered javascript, injected raw by hbs-->
        <script>{{{script}}}</script>
    </body>
</html>