{{#each stories}}
  <div
    class="font-mono flex flex-col max-w-sm border-1 overflow-hidden border-orange-600 bg-black p-2 mx-4 mb-6"
  >
    <div class="flex border-1 border-black border-b-orange-600 justify-around">
      <div class="font-bold text-l mb-2 font-mono text-orange-600">
        {{this.name}}
      </div>
      <p class="font-bold text-l mb-2 text-yellow-500">
        {{this.datestring}}
      </p>
    </div>
    <p class="text-white text-xs py-2">
      {{this.headline}}
    </p>
    <button
      class="text-green-500 bg-black font-bold py-2 px-4 mb-1 border rounded border-b-4 border-green-500 hover:bg-[#360202]"
      onclick="window.location.href='/html/story/{{this.keyword}}'"
    >
      Read more
    </button>
    <p id="recent-comments" class="text-orange-400 text-sm pt-2 leading-8"><i
      >Comments;</i>
      {{#each this.reactions}}
        <span class="border rounded-full p-1 border-orange-400">{{this}}</span>
      {{/each}}
    </p>
  </div>
{{/each}}